<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="delivery-panel">
        <form action="delivery.html" th:attr="action=@{/deliveries}">
            <div class="input-group mb-3">
                <input type="text" name="match_id" class="form-control" placeholder="Search for deliveries" aria-label="Search query" aria-describedby="button-addon2 hidden">
                <button type="submit" class="btn btn-outline-secondary" id="button-addon2">Deliveries</button>
            </div>
        </form>
    </div>
    
</body>
</html>